--
-- PostgreSQL database dump
--

\restrict t5gUpJXOUMFiih1fRCrJLHdymVPKuLSNqTWu2I3gg3qlhkSYnhYkW4B6egxifBe

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: instagram_businesses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.instagram_businesses (
    id integer NOT NULL,
    business_name text,
    username text,
    category text,
    phone text,
    email text,
    website text,
    facebook text,
    location text,
    source_url text,
    scraped_at text NOT NULL
);


ALTER TABLE public.instagram_businesses OWNER TO postgres;

--
-- Name: instagram_businesses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.instagram_businesses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.instagram_businesses_id_seq OWNER TO postgres;

--
-- Name: instagram_businesses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.instagram_businesses_id_seq OWNED BY public.instagram_businesses.id;


--
-- Name: instagram_queue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.instagram_queue (
    id integer NOT NULL,
    username text NOT NULL,
    profile_url text NOT NULL,
    discovered_at text NOT NULL,
    scraped integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.instagram_queue OWNER TO postgres;

--
-- Name: instagram_queue_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.instagram_queue_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.instagram_queue_id_seq OWNER TO postgres;

--
-- Name: instagram_queue_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.instagram_queue_id_seq OWNED BY public.instagram_queue.id;


--
-- Name: jiji_businesses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jiji_businesses (
    id integer NOT NULL,
    business_name text,
    username text,
    category text,
    phone text,
    email text,
    website text,
    facebook text,
    location text,
    source_url text,
    scraped_at text NOT NULL
);


ALTER TABLE public.jiji_businesses OWNER TO postgres;

--
-- Name: jiji_businesses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.jiji_businesses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.jiji_businesses_id_seq OWNER TO postgres;

--
-- Name: jiji_businesses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.jiji_businesses_id_seq OWNED BY public.jiji_businesses.id;


--
-- Name: jiji_queue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jiji_queue (
    id integer NOT NULL,
    listing_url text NOT NULL,
    title text,
    category text,
    discovered_at text NOT NULL,
    scraped integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.jiji_queue OWNER TO postgres;

--
-- Name: jiji_queue_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.jiji_queue_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.jiji_queue_id_seq OWNER TO postgres;

--
-- Name: jiji_queue_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.jiji_queue_id_seq OWNED BY public.jiji_queue.id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_reset_tokens (
    id integer NOT NULL,
    user_id integer NOT NULL,
    token text NOT NULL,
    expires_at text NOT NULL,
    used integer DEFAULT 0 NOT NULL,
    created_at text NOT NULL
);


ALTER TABLE public.password_reset_tokens OWNER TO postgres;

--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.password_reset_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.password_reset_tokens_id_seq OWNER TO postgres;

--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.password_reset_tokens_id_seq OWNED BY public.password_reset_tokens.id;


--
-- Name: scrape_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scrape_logs (
    id integer NOT NULL,
    platform text NOT NULL,
    started_at text NOT NULL,
    completed_at text,
    status text DEFAULT 'running'::text NOT NULL,
    count_new integer DEFAULT 0,
    count_skipped integer DEFAULT 0,
    error_message text
);


ALTER TABLE public.scrape_logs OWNER TO postgres;

--
-- Name: scrape_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.scrape_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.scrape_logs_id_seq OWNER TO postgres;

--
-- Name: scrape_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.scrape_logs_id_seq OWNED BY public.scrape_logs.id;


--
-- Name: settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settings (
    key text NOT NULL,
    value text
);


ALTER TABLE public.settings OWNER TO postgres;

--
-- Name: tiktok_businesses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tiktok_businesses (
    id integer NOT NULL,
    business_name text,
    username text,
    category text,
    phone text,
    email text,
    website text,
    facebook text,
    location text,
    source_url text,
    scraped_at text NOT NULL
);


ALTER TABLE public.tiktok_businesses OWNER TO postgres;

--
-- Name: tiktok_businesses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tiktok_businesses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tiktok_businesses_id_seq OWNER TO postgres;

--
-- Name: tiktok_businesses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tiktok_businesses_id_seq OWNED BY public.tiktok_businesses.id;


--
-- Name: tiktok_queue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tiktok_queue (
    id integer NOT NULL,
    username text NOT NULL,
    profile_url text NOT NULL,
    discovered_at text NOT NULL,
    scraped integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.tiktok_queue OWNER TO postgres;

--
-- Name: tiktok_queue_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tiktok_queue_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tiktok_queue_id_seq OWNER TO postgres;

--
-- Name: tiktok_queue_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tiktok_queue_id_seq OWNED BY public.tiktok_queue.id;


--
-- Name: twitter_businesses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.twitter_businesses (
    id integer NOT NULL,
    business_name text,
    username text,
    category text,
    phone text,
    email text,
    website text,
    facebook text,
    location text,
    source_url text,
    scraped_at text NOT NULL
);


ALTER TABLE public.twitter_businesses OWNER TO postgres;

--
-- Name: twitter_businesses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.twitter_businesses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.twitter_businesses_id_seq OWNER TO postgres;

--
-- Name: twitter_businesses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.twitter_businesses_id_seq OWNED BY public.twitter_businesses.id;


--
-- Name: twitter_queue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.twitter_queue (
    id integer NOT NULL,
    username text NOT NULL,
    profile_url text NOT NULL,
    discovered_at text NOT NULL,
    scraped integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.twitter_queue OWNER TO postgres;

--
-- Name: twitter_queue_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.twitter_queue_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.twitter_queue_id_seq OWNER TO postgres;

--
-- Name: twitter_queue_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.twitter_queue_id_seq OWNED BY public.twitter_queue.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username text NOT NULL,
    password_hash text NOT NULL,
    created_at text NOT NULL,
    email text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: yellowpages_businesses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.yellowpages_businesses (
    id integer NOT NULL,
    business_name text,
    username text,
    category text,
    phone text,
    email text,
    website text,
    facebook text,
    location text,
    source_url text,
    scraped_at text NOT NULL
);


ALTER TABLE public.yellowpages_businesses OWNER TO postgres;

--
-- Name: yellowpages_businesses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.yellowpages_businesses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.yellowpages_businesses_id_seq OWNER TO postgres;

--
-- Name: yellowpages_businesses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.yellowpages_businesses_id_seq OWNED BY public.yellowpages_businesses.id;


--
-- Name: instagram_businesses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instagram_businesses ALTER COLUMN id SET DEFAULT nextval('public.instagram_businesses_id_seq'::regclass);


--
-- Name: instagram_queue id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instagram_queue ALTER COLUMN id SET DEFAULT nextval('public.instagram_queue_id_seq'::regclass);


--
-- Name: jiji_businesses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jiji_businesses ALTER COLUMN id SET DEFAULT nextval('public.jiji_businesses_id_seq'::regclass);


--
-- Name: jiji_queue id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jiji_queue ALTER COLUMN id SET DEFAULT nextval('public.jiji_queue_id_seq'::regclass);


--
-- Name: password_reset_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens ALTER COLUMN id SET DEFAULT nextval('public.password_reset_tokens_id_seq'::regclass);


--
-- Name: scrape_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scrape_logs ALTER COLUMN id SET DEFAULT nextval('public.scrape_logs_id_seq'::regclass);


--
-- Name: tiktok_businesses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tiktok_businesses ALTER COLUMN id SET DEFAULT nextval('public.tiktok_businesses_id_seq'::regclass);


--
-- Name: tiktok_queue id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tiktok_queue ALTER COLUMN id SET DEFAULT nextval('public.tiktok_queue_id_seq'::regclass);


--
-- Name: twitter_businesses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.twitter_businesses ALTER COLUMN id SET DEFAULT nextval('public.twitter_businesses_id_seq'::regclass);


--
-- Name: twitter_queue id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.twitter_queue ALTER COLUMN id SET DEFAULT nextval('public.twitter_queue_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: yellowpages_businesses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.yellowpages_businesses ALTER COLUMN id SET DEFAULT nextval('public.yellowpages_businesses_id_seq'::regclass);


--
-- Data for Name: instagram_businesses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: instagram_queue; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: jiji_businesses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: jiji_queue; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.password_reset_tokens (id, user_id, token, expires_at, used, created_at) FROM stdin;
1	7	H9bQdMMED8sehsi4dKh1vTtBWz4zxAA1lzphcrERewY	2026-06-30T14:16:58.988968	1	2026-06-30T13:16:59.176921
2	7	RYmUsFJcOZGdogLK-VmpezU7gg-QS9L3zMAjyz_csWA	2026-07-06T13:18:01.418980	0	2026-07-06T12:18:01.455863
3	7	dVusPFpQtjipCib1SJZUzeuH88-D4o-9uwgBb8QSPfo	2026-07-06T13:18:03.627404	0	2026-07-06T12:18:03.673502
\.


--
-- Data for Name: scrape_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.settings (key, value) FROM stdin;
flask_secret_key	05d6e7a36cf3ebdb09a53d7477cb1e97e5a37066c60229164ea0796aafc215cd
firecrawl_api_key	fc-7a5a845f96e545f5b7a10a0b3b09a7d3
daily_limit	20
schedule_hour	9
schedule_minute	0
automation_enabled	1
disabled_platforms	twitter
\.


--
-- Data for Name: tiktok_businesses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tiktok_queue; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tiktok_queue (id, username, profile_url, discovered_at, scraped) FROM stdin;
\.


--
-- Data for Name: twitter_businesses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: twitter_queue; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.twitter_queue (id, username, profile_url, discovered_at, scraped) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: yellowpages_businesses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: instagram_businesses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.instagram_businesses_id_seq', 233, true);


--
-- Name: instagram_queue_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.instagram_queue_id_seq', 200, true);


--
-- Name: jiji_businesses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jiji_businesses_id_seq', 158, true);


--
-- Name: jiji_queue_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jiji_queue_id_seq', 722, true);


--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.password_reset_tokens_id_seq', 3, true);


--
-- Name: scrape_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.scrape_logs_id_seq', 168, true);


--
-- Name: tiktok_businesses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tiktok_businesses_id_seq', 155, true);


--
-- Name: tiktok_queue_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tiktok_queue_id_seq', 1, false);


--
-- Name: twitter_businesses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.twitter_businesses_id_seq', 158, true);


--
-- Name: twitter_queue_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.twitter_queue_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 8, true);


--
-- Name: yellowpages_businesses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.yellowpages_businesses_id_seq', 421, true);


--
-- Name: instagram_businesses instagram_businesses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instagram_businesses
    ADD CONSTRAINT instagram_businesses_pkey PRIMARY KEY (id);


--
-- Name: instagram_queue instagram_queue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instagram_queue
    ADD CONSTRAINT instagram_queue_pkey PRIMARY KEY (id);


--
-- Name: instagram_queue instagram_queue_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instagram_queue
    ADD CONSTRAINT instagram_queue_username_key UNIQUE (username);


--
-- Name: jiji_businesses jiji_businesses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jiji_businesses
    ADD CONSTRAINT jiji_businesses_pkey PRIMARY KEY (id);


--
-- Name: jiji_queue jiji_queue_listing_url_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jiji_queue
    ADD CONSTRAINT jiji_queue_listing_url_key UNIQUE (listing_url);


--
-- Name: jiji_queue jiji_queue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jiji_queue
    ADD CONSTRAINT jiji_queue_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_token_key UNIQUE (token);


--
-- Name: scrape_logs scrape_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scrape_logs
    ADD CONSTRAINT scrape_logs_pkey PRIMARY KEY (id);


--
-- Name: settings settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_pkey PRIMARY KEY (key);


--
-- Name: tiktok_businesses tiktok_businesses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tiktok_businesses
    ADD CONSTRAINT tiktok_businesses_pkey PRIMARY KEY (id);


--
-- Name: tiktok_queue tiktok_queue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tiktok_queue
    ADD CONSTRAINT tiktok_queue_pkey PRIMARY KEY (id);


--
-- Name: tiktok_queue tiktok_queue_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tiktok_queue
    ADD CONSTRAINT tiktok_queue_username_key UNIQUE (username);


--
-- Name: twitter_businesses twitter_businesses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.twitter_businesses
    ADD CONSTRAINT twitter_businesses_pkey PRIMARY KEY (id);


--
-- Name: twitter_queue twitter_queue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.twitter_queue
    ADD CONSTRAINT twitter_queue_pkey PRIMARY KEY (id);


--
-- Name: twitter_queue twitter_queue_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.twitter_queue
    ADD CONSTRAINT twitter_queue_username_key UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: yellowpages_businesses yellowpages_businesses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.yellowpages_businesses
    ADD CONSTRAINT yellowpages_businesses_pkey PRIMARY KEY (id);


--
-- Name: ux_instagram_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_instagram_email ON public.instagram_businesses USING btree (email) WHERE ((email IS NOT NULL) AND (email <> ''::text));


--
-- Name: ux_instagram_phone; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_instagram_phone ON public.instagram_businesses USING btree (phone) WHERE ((phone IS NOT NULL) AND (phone <> ''::text));


--
-- Name: ux_instagram_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_instagram_username ON public.instagram_businesses USING btree (username) WHERE ((username IS NOT NULL) AND (username <> ''::text));


--
-- Name: ux_jiji_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_jiji_email ON public.jiji_businesses USING btree (email) WHERE ((email IS NOT NULL) AND (email <> ''::text));


--
-- Name: ux_jiji_phone; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_jiji_phone ON public.jiji_businesses USING btree (phone) WHERE ((phone IS NOT NULL) AND (phone <> ''::text));


--
-- Name: ux_jiji_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_jiji_username ON public.jiji_businesses USING btree (username) WHERE ((username IS NOT NULL) AND (username <> ''::text));


--
-- Name: ux_tiktok_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_tiktok_email ON public.tiktok_businesses USING btree (email) WHERE ((email IS NOT NULL) AND (email <> ''::text));


--
-- Name: ux_tiktok_phone; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_tiktok_phone ON public.tiktok_businesses USING btree (phone) WHERE ((phone IS NOT NULL) AND (phone <> ''::text));


--
-- Name: ux_tiktok_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_tiktok_username ON public.tiktok_businesses USING btree (username) WHERE ((username IS NOT NULL) AND (username <> ''::text));


--
-- Name: ux_twitter_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_twitter_email ON public.twitter_businesses USING btree (email) WHERE ((email IS NOT NULL) AND (email <> ''::text));


--
-- Name: ux_twitter_phone; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_twitter_phone ON public.twitter_businesses USING btree (phone) WHERE ((phone IS NOT NULL) AND (phone <> ''::text));


--
-- Name: ux_twitter_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_twitter_username ON public.twitter_businesses USING btree (username) WHERE ((username IS NOT NULL) AND (username <> ''::text));


--
-- Name: ux_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_users_email ON public.users USING btree (email) WHERE ((email IS NOT NULL) AND (email <> ''::text));


--
-- Name: ux_yellowpages_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_yellowpages_email ON public.yellowpages_businesses USING btree (email) WHERE ((email IS NOT NULL) AND (email <> ''::text));


--
-- Name: ux_yellowpages_phone; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_yellowpages_phone ON public.yellowpages_businesses USING btree (phone) WHERE ((phone IS NOT NULL) AND (phone <> ''::text));


--
-- Name: ux_yellowpages_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_yellowpages_username ON public.yellowpages_businesses USING btree (username) WHERE ((username IS NOT NULL) AND (username <> ''::text));


--
-- PostgreSQL database dump complete
--

\unrestrict t5gUpJXOUMFiih1fRCrJLHdymVPKuLSNqTWu2I3gg3qlhkSYnhYkW4B6egxifBe

